<div class="page" id="contact-page" style="overflow-x:hidden;overflow-y:scroll">
	<a id="contact-menu" class="overlay-menu menu-open" style="color:#000;position:absolute !important;" overlay-open-button>
		&#9776; | MENU
	</a>

	<div class="col-md-12" style="height:60%;padding:0;background:#e67e22;">
		<ui-gmap-google-map center='map.center' options="options" class="map-container" zoom='map.zoom'></ui-gmap-google-map>
	</div>

	<div id="contact-container" class="text-centered">
		<div class="row">
			<div class="col-md-2 col-sm-12 col-xs-12" style="height:100%;background-color:red;z-index:1;padding-bottom:3em;min-height:1000px"></div>
		    <div class="team-container col-md-10 col-sm-12 col-xs-12" style="background-color:#fff;z-index:1;padding-bottom:3em">
		        <div class="row">
		            <div class="col-md-10 col-md-offset-1 text-center">
		                <div class="page-header"><h1>Our Team</h1></div>


		                <div class="col-md-12 col-sm-12 col-xs-12 contact">
		                    <div class="col-md-6 col-sm-12 col-xs-12">
			                    <h4>Shyamkrishnan R<br><small>CULTURAL SECRETARY</small></h4>
			                    <p style="margin:0">shyamkrishnan@ragam.org.in</p>
			                    <p>(+91) 8281401025</p>
			                </div>
		                    <div class="col-md-6 col-sm-12 col-xs-12">
		                        <h4>Shyamkrishnan R<br><small>CULTURAL SECRETARY</small></h4>
			                    <p style="margin:0">shyamkrishnan@ragam.org.in</p>
			                    <p>(+91) 8281401025</p>
		                    </div>
		                </div>

		                <div class="section-header"><h3>Marketing</h3></div>
		                <div class="col-md-12 col-sm-12 col-xs-12 contact">
		                    <div class="col-md-4 col-sm-12 col-xs-12">
		                        <h4>Mathews K Tom</h4>
		                        <p style="margin:0">mathews@ragam.org.in</p>
		                        <p>(+91) 9446930717</p>
		                    </div>
		                    <div class="col-md-4 col-sm-12 col-xs-12 contact">
		                        <h4>Tarun Tom</h4>
		                        <p style="margin:0">taruntom@ragam.org.in</p>
		                        <p>(+91) 9605559215</p>
		                    </div>
		                    <div class="col-md-4 col-sm-12 col-xs-12 contact">
		                        <h4>Isa Rahman</h4>
		                        <p style="margin:0">isarahman@ragam.org.in</p>
		                        <p>(+91) 9746085066</p>
		                    </div>
		                </div>
		                <div class="section-header"><h3>Public Relations</h3></div>
		                <div class="col-md-12">
		                    <div class="col-md-6 col-sm-12 col-xs-12 contact">
		                        <h4>Vishal Satheeshan</h4>
		                        <p style="margin:0">vishal@ragam.org.in</p>
		                        <p>(+91) 8129297995</p>
		                    </div>
		                    <div class="col-md-6 col-sm-12 col-xs-12 contact">
		                        <h4>Sangeeth Raman</h4>
		                        <p style="margin:0">sangeeth@ragam.org.in</p>
		                        <p>(+91) 9746199987</p>
		                    </div>
		                </div>
		                <div class="section-header"><h3>Registration</h3></div>
		                <div class="col-md-12">
		                    <div class="col-md-12 col-sm-12 col-xs-12 contact">
		                        <h4>Akash Balamurali<br/><small>SINGLE READY TO MINGLE</small></h4>
		                        <p style="margin:0">akash@ragam.org.in</p>
		                        <p>(+91) 8129297995</p>
		                    </div>
		                </div>
		                <div class="section-header"><h3>Event Co-ordinators</h3></div>
		                <div class="col-md-12">
		                    <div class="col-md-6 col-sm-12 col-xs-12 contact">
		                        <h4>Soorajkrishna</h4>
		                        <p style="margin:0">akash@ragam.org.in</p>
		                        <p>(+91) 8129297995</p>
		                    </div>
		                    <div class="col-md-6 col-sm-12 col-xs-12 contact">
		                        <h4>Joffy VC</h4>
		                        <p style="margin:0">akash@ragam.org.in</p>
		                        <p>(+91) 8129297995</p>
		                    </div>
		                </div>
		                <div class="section-header"><h3>Creative Team</h3></div>
		                <div class="col-md-12">
		                    <div class="col-md-4 col-sm-12 col-xs-12 contact">
		                        <h4>Arun John Kuruvilla<br/><small>WEBSITE</small></h4>
		                        <p style="margin:0">akash@ragam.org.in</p>
		                        <p>(+91) 8129297995</p>
		                    </div>
		                    <div class="col-md-4 col-sm-12 col-xs-12 contact">
		                        <h4>John Kurian<br/><small>DIGITAL DESIGN</small></h4>
		                        <p style="margin:0">akash@ragam.org.in</p>
		                        <p>(+91) 8129297995</p>
		                    </div>
		                    <div class="col-md-4 col-sm-12 col-xs-12 contact">
		                        <h4>Rohit S Nambiar<br/><small>POSTER AND DESIGN</small></h4>
		                        <p style="margin:0">akash@ragam.org.in</p>
		                        <p>(+91) 8129297995</p>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
	    	
		<div class="row">
			<div class="col-md-12" style="background:#333;padding:0">
		    	<div id="main-footer" class="add-padding bg-color3 border-top-color2">
					<div class="container">
						<ul class="social-links text-center">
							<li><a href="#link"><i class="fa fa-twitter fa-fw"></i></a></li>
							<li><a href="#link"><i class="fa fa-facebook fa-fw"></i></a></li>
							<li><a href="#link"><i class="fa fa-google-plus fa-fw"></i></a></li>
							<li><a href="#link"><i class="fa fa-linkedin fa-fw"></i></a></li>
						</ul>
					</div>
				</div>
		    </div>
		</div>
		    
		<div class="row">
			<div class="mail-container col-md-12 col-sm-12 col-xs-12 text-center" style="background-color:#fff;z-index:1;padding-bottom:100px">
		        <div class="row">
		            <div class="col-md-10 col-md-offset-1">
		                <div class="page-header"><h1>Contact Us</h1></div>
		                <div class="col-md-12" style="height:200px;margin-bottom:50px;">
		                	<div style="margin: 0 auto;height:100%">
		                		<img src="assets/img/contact/stamp.png" style="height:100%;padding:20px" style="img-responsive">
		                		<img src="assets/img/contact/stamp2.png" style="height:100%;padding:20px" style="img-responsive">
		                		<img src="assets/img/contact/stamp3.png" style="height:100%;padding:20px" style="img-responsive">
		                		<img src="assets/img/contact/stamp4.png" style="height:100%;padding:20px" style="img-responsive">
		                		<img src="assets/img/contact/stamp5.png" style="height:100%;padding:20px" style="img-responsive">
		                	</div>
		        		</div>
		        		<div class="col-md-10 col-md-offset-1">
		        			<form role="form" method="POST" name="queryForm" ng-submit="submitQuery(queryForm)" class="form-horizontal">
			                    <div class="row">
			                        <div class="form-group">
			                        	<div class="col-md-12">
			                        		 <input ng-model="formData.contact_name" type="text" placeholder="Name" name="contact_name" class="form-control col-md-6" id="input1" />
			                        	</div>
			                        </div>
			                        <div class="form-group">
			                        	<div class="col-md-12">
			                            	<input ng-model="formData.contact_email" type="email" placeholder="Email" name="contact_email" class="form-control col-md-6" id="input2" />
			                            </div>
			                        </div>
			                        <div class="form-group">
			                        	<div class="col-md-12">
			                                <input ng-model="formData.contact_college" type="text" placeholder="College" name="contact_college" class="form-control" id="input3" />
			                            </div>
			                        </div>
			                        <div class="form-group">
			                        	<div class="col-md-12">
			                            	<textarea ng-model="formData.contact_message" name="contact_message" 
			                            	placeholder="Message" class="form-control" rows="3" id="input4"></textarea>
			                            </div>
			                        </div>
			                        <div class="form-group">
			                        	<div class="col-md-12">
			                            	<input type="text" ng-model="formData.contact_spam" placeholder="Simple Spam Checker : 5 + 7 = " name="contact_spam" class="form-control" id="input5">
			                            </div>
			                        </div>
			                        <div class="form-group">
			                        	<div class="col-md-12">
			                            	<button type="submit" class="btn btn-1 btn-1b">Submit</button>
			                            </div>
			                        </div>
			                    </div>
			                </form>
		        		</div>
			                
		            </div>
		        </div>
		    </div>
		    
		</div>
		    
	    
	</div>
	<div class="overlay overlay-slidedown">
		<button type="button" class="overlay-close" overlay-close-button>&#10005;</button>
		<div class="overlay-contents col-md-12">
			<div class="text-right col-md-6 right-column">
				<ul>
					<li><a href="#">Home</a></li>
					<li><a href="#contact">Contact Us</a></li>
					<li><a href="#gallery">Gallery</a></li>
					<li><a href="http://ragam.org.in/market">Marketing Site '16</a></li>
				</ul>					
			</div>
			<div class="col-md-6">
				<ul>
					<li><a href="#events">Events</a></li>
					<li><a href="#workshops">Workshops</a></li>
				</ul>
				
			</div>
		</div>
		<footer class="col-md-12">
		        <div class="container">
		            <div class="row">
		                <div class="col-md-12">
		                    <ul class="list-inline social-buttons">
		                        <li><a href="#"><i class="fa fa-twitter"></i></a>
		                        </li>
		                        <li><a href="#"><i class="fa fa-facebook"></i></a>
		                        </li>
		                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
		                        </li>
		                    </ul>
		                </div>
		                <div class="col-md-12">
		                    <span class="copyright">Copyright © Your Website 2014</span>
		                </div>
		            </div>
		        </div>
		    </footer>
	</div>
</div>