<div class="page" id="page-docu">
	<!--<div class="events-body">
		<div class="page-header text-center">
			<h1>{{eventHeaderName}}</h1>
			<h3>{{eventHeaderDescription}}</h3>
		</div>
		<div class="outer col-md-12" style="padding:0;text-align:center;width:calc(100%-60px)">
			<div class="middle">
		    	<div class="inner" ng-repeat="category in events.sub_categories" ng-if="category.name != 'Gaming'">
		    		<div class="inner-content {{category.name | lowercase}}">
		    			<div class="category-head">
		    				<i class="fa fa-music category-icon"></i>
		    				<br/>
		    				<span class="category-name">{{category.name}}</span>
		    			</div>
		    			<a ng-repeat="event in category.events" href="#events/{{event.event_code}}">
		    				<div class="category-event" ng-mouseover="changeEvent(event.name, event.short_description)"></div>
		    			</a>
		    		</div>
		    	</div> 
		    </div>
		</div>
	</div>-->
	<section>
				<div class="tabs tabs-style-line">
					<div class="content-wrap">
						<section id="section-line-1"><p>1</p></section>
						<section id="section-line-2"><p>2</p></section>
						<section id="section-line-3"><p>3</p></section>
						<section id="section-line-4"><p>4</p></section>
						<section id="section-line-5"><p>5</p></section>
					</div><!-- /content -->
					<nav>
						<ul>
							<li><a href="#section-line-1"><span>Our Controls</span></a></li>
							<li><a href="#section-line-2"><span>Sony Playstation 4</span></a></li>
							<li><a href="#section-line-3"><span>Microsoft Xbox One</span></a></li>
							<li><a href="#section-line-4"><span>Nintendo Wii U</span></a></li>
							<li><a href="#section-line-5"><span>Microconsoles</span></a></li>
						</ul>
					</nav>
					
				</div><!-- /tabs -->
			</section>
</div>