<div class="page" id="page-events" style="height:100%; width:100%;overflow-y:scroll">
	<a id="events-menu" class="overlay-menu menu-open">
		&#9776; | MENU
	</a>
	<div class="category-area">
		<div class="category-head category-head-{{$index}} {{category.eventid}}" ng-click="changeCategory($index)" ng-repeat="category in events.sub_categories" style="padding:10px">
			<div style="width:100%;height:100%;border:3px solid #fff">{{category.name}}</div>
		</div>
	</div>
	<div class="event-area-overlay" style="opacity:0;height:100%;width:80%;position:fixed;left:20%;background:rgba(0,0,0,0.9);"></div>
	<div class="event-area">
		<!--<div style="background: #3085a3; padding:0" ng-repeat="event in category_content" class="event-head col-md-6 col-xs-12">
			<img src="assets/img/events/{{event.event_code}}.jpg" class="img-responsive" style="height:100%;width:100%;opacity:0.2">
		</div>-->
		<div class="grid">
			<a href="#events/{{event.event_code}}" ng-repeat="event in category_content"><figure class="effect-lily col-md-3 col-xs-12" >
				<img src="assets/img/events/{{event.event_code}}.jpg" alt="{{event.event_code}}.jpg"/>
				<figcaption>
					<div>
						<h2>{{event.name}}</h2>
					</div>
				</figcaption>			
			</figure></a>
		</div>
	</div>
	<div class="overlay overlay-slidedown">
		<button type="button" class="overlay-close">&#10005;</button>
		<div class="overlay-contents col-md-12">
			<div class="text-right col-md-6 col-sm-12 col-xs-6 right-column">
				<ul>
					<li><a href="#">Home</a></li>
					<li><a href="#contact">Contact Us</a></li>
					<li><a href="http://ragam.org.in/market">Marketing Site '16</a></li>
				</ul>				
			</div>
			<div class="col-md-6 col-sm-12 col-xs-6">
				<ul>
				</ul>
				
			</div>
			<footer class="col-md-12">
		        <div class="container">
		            <div class="row">
		                <div class="col-md-12">
		                    <ul class="list-inline social-buttons">
		                        <li><a href="#"><i class="fa fa-twitter"></i></a>
		                        </li>
		                        <li><a href="#"><i class="fa fa-facebook"></i></a>
		                        </li>
		                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
		                        </li>
		                    </ul>
		                </div>
		                <div class="col-md-12">
		                    <span class="copyright">Copyright © Your Website 2014</span>
		                </div>
		            </div>
		        </div>
		    </footer>
		</div>
		
	</div>

</div>