<div class="page" id="page-home" style="overflow-x:hidden; overflow-y:scroll">
	<div style="height:100%; width:100%; background-image:url(./assets/img/home/home.jpg);background-size:100% 100%"></div>
	<div style="height:100%; width:100%; background-image:url(./assets/img/home/home1.jpg);background-size:100% 100%"></div>
	<div style="height:100%; width:100%; background-image:url(./assets/img/home/home1.jpg);background-size:100% 100%"></div>
	<div style="height:100%; width:100%; background-image:url(./assets/img/home/home1.jpg);background-size:100% 100%"></div>
</div>