<div class="page" id="page-home" style="overflow-x:hidden; overflow-y:hidden">
	<a id="home-menu" class="overlay-menu menu-open" overlay-open-button>
		&#9776; | MENU
	</a>
	<div id="logo">
		<img src="assets/img/home/RagamLogo.png" class="img-responsive">
	</div>
	
	

	<div class="fp-controlArrow fp-prev"><i class="fa fa-angle-left"></i></div>
	<div class="fp-controlArrow fp-next"><i class="fa fa-angle-right"></i></div>

	<div id="pt-main" class="pt-perspective text-center">
			<div id="pt-page-1" class="pt-page pt-page-current" style="">
				<div class="overlay-div" style="z-index:9999"></div>
				<div class="goto-bar">
					<div class="notif-menu">
						April 1, 2, 3, 2016
					</div>
				</div>
				<!--<div class="scene col-md-6 col-md-offset-3 col-sm-12">
					<div id="scene-home" class="layer-overlay" data-origin-x="0.5" data-origin-y="0.5" data-scalar-y="50" data-scalar-x="50">
						<div class="layer layer-1" data-depth="0.3"></div>
					    <div class="layer layer-2" data-depth="0.60"></div>
					    <div class="layer layer-3" data-depth="0.40"></div>
					    <div class="layer layer-4" data-depth="0.60"></div>
					</div>
				</div>
				<div style="position:absolute;bottom:1em;width:100%;text-align:center;font-size:2.5em;font-family:yellowllama"><span>#CultCrazy</span><span style="color:#000">#BuiltDesi</span></div>-->
			</div>
			<div id="pt-page-2" class="pt-page" style="text-align:center;">
					<div class="element">
					<div style="color:#B12929;font-family:freak;font-size:1.3em">events</div>
				</div>
				<div class="scene col-md-8 col-md-offset-2" style="position:absolute;top:0">
					<div id="scene-events" class="layer-overlay" data-origin-x="0.4" data-origin-y="0.1" data-scalar-y="50" data-scalar-x="50">
					    <div class="layer layer-2" data-depth="0.40"></div>
					    <div class="layer layer-3" data-depth="0.70"></div>
					    <div class="layer layer-4" data-depth="0.50"></div>
					    <div class="layer layer-5" data-depth="0.80"></div>
					    <div class="layer layer-6" data-depth="0.60"></div>
					    <div class="layer layer-7" data-depth="0.90"></div>
					    <div class="layer layer-8" data-depth="0.50"></div>
					    <div class="layer layer-9" data-depth="0.90"></div>
					    <div class="layer layer-10" data-depth="0.20"></div>
					</div>
				</div>    
				<div class="goto-bar">
					<a href="#events" class="event-button btn btn-1 btn-1b" style=""><i class="fa fa-chevron-down"></i></a>
				</div>	
			</div>
			<div id="pt-page-5" class="pt-page">
				<div class="element">
					<div style="font-family:stencil;color:#000;font-size:0.8em">PRODEZZA</div>
				</div>
				<div class="scene col-md-8 col-md-offset-2" style="position:absolute;top:0">
					<div id="scene-prodezza" class="layer-overlay" data-origin-x="0.4" data-origin-y="0.1" data-scalar-y="50" data-scalar-x="50">
					    <div class="layer layer-2" data-depth="0.40"></div>
					    <div class="layer layer-3" data-depth="0.90"></div>
					    <div class="layer layer-4" data-depth="0.50"></div>
					</div>
				</div>    
				<div class="goto-bar">
					<a href="#prodezza" class="event-button btn btn-1 btn-1b" style=""><i class="fa fa-chevron-down"></i></a>
				</div>
			</div>
			<div id="pt-page-6" class="pt-page">
				<div class="element">
					<div style="font-family:playtime;color:#000;font-size:0.9em">
					<span style="color:blue">s</span>
					<span style="color:green">n</span>
					<span style="color:red">e</span>
					<span style="color:orange">h</span>
					<span style="color:pink">a</span>
					<span style="color:purple">r</span>
					<span style="color:brown">a</span>
					<span style="color:violet">g</span>
					<span style="color:yellow">a</span>
					<span style="color:cyan">m</span></div>
				</div>
				<div class="scene col-md-8 col-md-offset-2" style="position:absolute;top:0">
					<div id="scene-sneharagam" class="layer-overlay" data-origin-x="0.4" data-origin-y="0.1" data-scalar-y="50" data-scalar-x="50">
					    <div class="layer layer-2" data-depth="0.40"></div>
					    <div class="layer layer-3" data-depth="0.70"></div>
					    <div class="layer layer-4" data-depth="0.50"></div>
					    <div class="layer layer-5" data-depth="0.80"></div>
					    <div class="layer layer-6" data-depth="0.60"></div>
					    <div class="layer layer-7" data-depth="0.90"></div>
					    <div class="layer layer-8" data-depth="0.50"></div>
					    <div class="layer layer-9" data-depth="0.90"></div>
					    <div class="layer layer-10" data-depth="0.20"></div>
					</div>
				</div>  
				<div class="goto-bar">
					<a href="#sneharagam" class="event-button btn btn-1 btn-1b" style=""><i class="fa fa-chevron-down"></i></a>
				</div>
			</div>
			<div id="pt-page-3" class="pt-page">
				<div class="element">
					<div style="font-family:drift;color:#000;font-size:0.8em">WORKSHOPS</div>
					<div style="font-family:rc; font-size:0.4em;color:red;padding:20px">UNDER CONSTRUCTION</div>
				</div>
			</div>
			<div id="pt-page-4" class="pt-page">
				<div class="element">
					<div style="font-family:prisma;color:#000;font-size:0.8em">PROSHOWS</div>
					<div style="font-family:rc; font-size:0.4em;color:red;padding:20px">UNDER CONSTRUCTION</div>
				</div>
			</div>
		</div>
	<div class="overlay overlay-slidedown" overlay-close-button>
		<button type="button" class="overlay-close">&#10005;</button>
		<div class="overlay-contents col-md-12 text-center">
			<div class="text-right col-md-6 col-sm-6 col-xs-6 right-column">
				<ul>
					<li class=""><a href="#contact">Contact Us</a></li>
					<li class=""><a href="#gallery">Gallery</a></li>
					<li class=""><a href="#sneharagam">Sneharagam</a></li>
					<li class=""><a href="#">Marketing Site '16</a></li>
				</ul>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-6 left-column">
				<ul>
					<li class="">The world might end in...</li>
					<li class=""><span countdown='' date='April 1, 2016 12:00:00'>&nbsp;</span></li>
				</ul>
			</div>
			<footer class="col-md-12">
		        <div class="container">
		            <div class="row">
		                <div class="col-md-12">
		                    <ul class="list-inline social-buttons">
		                        <li><a href="#"><i class="fa fa-twitter"></i></a>
		                        </li>
		                        <li><a href="#"><i class="fa fa-facebook"></i></a>
		                        </li>
		                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
		                        </li>
		                    </ul>
		                </div>
		                <div class="col-md-12">
		                    <span class="copyright">Copyright © Your Website 2014</span>
		                </div>
		            </div>
		        </div>
		    </footer>
		</div>
	</div>
</div>