<div class="page" id="page-prodezza" style="overflow-x:hidden; overflow-y:hidden">
	<a id="home-menu" class="overlay-menu menu-open" overlay-open-button>
		&#9776; | MENU
	</a>

	<div id="pt-main" class="pt-perspective text-center">
		<div id="pt-page-1" class="pt-page pt-page-current">
			<div open-details-button data-element="koko-details" class="prodezza-controlArrow fp-prev"><i class="fa fa-angle-left"></i></div>
			<div style="position:absolute;height:20%;width:100%;bottom:50px;padding-top:200px;font-size:1.3em;font-family:steel"><h1 style="font-weight:700;font-family:steel;color:#000;word-spacing:4px">Clap Clap Circo</h1></div>
			<div id="koko-details" class="details" style="">
				<button close-details-button data-element="koko-details" type="button" class="details-close">&#10005;</button>
				<div class="details-content" style="position:absolute;top:100px">
					<div class="details-detail" style="padding:40px;font-size:1.4em">
						This Ragam, NIT Calicut brings to you Clap Clap Circo's amazing performers, Joaquin Caride and Irene Carrier. Their street shows have been a hit since 2008, in festivals, circus conventions, cabarets and various other events across the globe. We're telling you, this is one show you definitely dont want to miss
					</div>
				</div>
			</div>
		</div>
		<div id="pt-page-2" class="pt-page" style="background:#2a2a2a;text-align:center;">		
		</div>		
	</div>
	<div class="overlay overlay-slidedown" overlay-close-button>
		<button type="button" class="overlay-close">&#10005;</button>
		<div class="overlay-contents col-md-12 text-center">
			<div class="text-right col-md-6 col-sm-6 col-xs-6 right-column">
				<ul>
					<li><a href="#">Home</a></li>
					<li><a href="#contact">Contact Us</a></li>
					<li><a href="#gallery">Gallery</a></li>
					<li><a href="#">Marketing Site '16</a></li>
				</ul>
				
			</div>
			<div class="col-md-6 col-sm-6 col-xs-6 right-column" style="border-right:0">
				<ul>
					<li><a href="#events">Events</a></li>
				</ul>
				
			</div>
			<footer class="col-md-12">
		        <div class="container">
		            <div class="row">
		                <div class="col-md-12">
		                    <ul class="list-inline social-buttons">
		                        <li><a href="#"><i class="fa fa-twitter"></i></a>
		                        </li>
		                        <li><a href="#"><i class="fa fa-facebook"></i></a>
		                        </li>
		                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
		                        </li>
		                    </ul>
		                </div>
		                <div class="col-md-12">
		                    <span class="copyright">&copy; CREATIVE AND INTELLECTUAL MINDS OF NITC</span>
		                </div>
		            </div>
		        </div>
		    </footer>
		</div>
		
		
	</div>
</div>