<div class="page" id="page-proshows" style="height:100%;width:100%;overflow-x:hidden; overflow-y:hidden">
	<a id="home-menu" class="overlay-menu menu-open" overlay-open-button>
		&#9776; | MENU
	</a>

	<div class="layers" style="height:100%;width:100%;">
		<div id="layer-1" style="height:100%;border-right:3px solid #fff" class="col-md-2 col-sm-2 layer" expanding-horizontal-div></div>
		<div id="layer-2" style="height:100%;border-right:3px solid #fff" class="col-md-2 col-sm-2 layer" expanding-horizontal-div></div>
		<div id="layer-3" style="height:100%;border-right:3px solid #fff" class="col-md-2 col-sm-2 layer" expanding-horizontal-div></div>
		<div id="layer-4" style="height:100%;border-right:3px solid #fff" class="col-md-2 col-sm-2 layer" expanding-horizontal-div></div>
		<div id="layer-5" style="height:100%;border-right:3px solid #fff" class="col-md-2 col-sm-2 layer" expanding-horizontal-div></div>
		<div id="layer-6" style="height:100%;border-right:3px solid #fff" class="col-md-2 col-sm-2 layer" expanding-horizontal-div></div>
	</div>
</div>