<div class="page" id="page-docu">
		<div class="pt-triggers">
		<button id="iterateEffects" ng-click="nextPage" class="pt-touch-button">Show next page transition</button>
	</div><!-- /triggers -->

	<div id="pt-main" class="pt-perspective">
			<div id="pt-page-1" class="pt-page pt-page-current"></div>
			<div id="pt-page-2" class="pt-page"></div>
			<div id="pt-page-3" class="pt-page"></div>
			<div id="pt-page-4" class="pt-page"></div>
			<div id="pt-page-5" class="pt-page"></div>
		</div>

</div>	