<div class="page" id="page-sponsors" style="height:100%; width:100%;overflow-y:scroll">
    <div class="press">
    <div class="container text-center">
                <h2 class="title">Press Coverage</h2>
                <ul class="press-list list-inline row">
                    <li class="col-md-2 col-sm-2 col-xs-4"><a href="#"><img class="img-responsive" src="assets/img/press/press-1.png" alt=""></a></li>
                    <li class="col-md-2 col-sm-2 col-xs-4"><a href="#"><img class="img-responsive" src="assets/img/press/press-2.png" alt=""></a></li>
                    <li class="col-md-2 col-sm-2 col-xs-4 xs-break"><a href="#"><img class="img-responsive" src="assets/img/press/press-3.png" alt=""></a></li>                   
                    <li class="col-md-2 col-sm-2 col-xs-4"><a href="#"><img class="img-responsive" src="assets/img/press/press-4.png" alt=""></a></li>
                    <li class="col-md-2 col-sm-2 col-xs-4"><a href="#"><img class="img-responsive" src="assets/img/press/press-5.png" alt=""></a></li>
                    <li class="col-md-2 col-sm-2 col-xs-4"><a href="#"><img class="img-responsive" src="assets/img/press/press-6.png" alt=""></a></li>                    
                </ul><!--//press-list-->
                <ul class="press-list row last" style="margin:0 auto;padding:0;width:auto">
                    <li class="col-md-2 col-sm-2 col-xs-4"><a href="#"><img class="img-responsive" src="assets/img/press/press-7.png" alt=""></a></li>
                    <li class="col-md-2 col-sm-2 col-xs-4"><a href="#"><img class="img-responsive" src="assets/img/press/press-8.png" alt=""></a></li>
                    <li class="col-md-2 col-sm-2 col-xs-4 xs-break"><a href="#"><img class="img-responsive" src="assets/img/press/press-9.png" alt=""></a></li>                   
                    <li class="col-md-2 col-sm-2 col-xs-4"><a href="#"><img class="img-responsive" src="assets/img/press/press-10.png" alt=""></a></li>
                    <li class="col-md-2 col-sm-2 col-xs-4"><a href="#"><img class="img-responsive" src="assets/img/press/press-11.png" alt=""></a></li>                   
                </ul><!--//press-list-->
            
            </div>
    </div>
</div>