<button type="button" class="overlay-close" overlay-close-button>&#10005;</button>
<div class="overlay-contents col-md-12 text-center">
	<div class="text-right col-md-4 col-sm-12 col-xs-6 right-column">
		<ul>
			<li><a href="#">Home</a></li>
			<li><a href="#contact">Contact Us</a></li>
			<li><a href="#sneharagam">Sneharagam</a></li>
			<li><a href="http://ragam.org.in/market">Marketing Site '16</a></li>
		</ul>				
	</div>
	<div class="col-md-8 col-sm-12 col-xs-6">
			<a id="registration-button" class="btn btn-block btn-social btn-facebook" href="http://localhost/backend/public/api/user/fb_login">
   				 <span class="fa fa-facebook"></span> Log in with Facebook
  			</a>
		
		<div id="user-profile">
			 <button class="btn btn-block btn-social btn-facebook" id="registration-action-logout" ng-click="logout()">
			    <span class="fa fa-facebook"></span> Log out
			  </button>
			<table class="table">
			    <tbody>
			    	<tr>
			            <td id="registration-data-id" rowspan="5" style="padding:30px;font-size:2.5em;font-weight:700"></td>
			        </tr>
			        <tr>
			            <td id="registration-data-name" style="font-size:1.5em"></td>
			        </tr>
			        
			        <tr>
			            <td id="registration-data-email" style="font-size:1.5em"></td>
			        </tr>
			        <tr>
			            <td id="registration-data-phone" style="font-size:1.5em"></td>
			        </tr>
			        <tr>
			            <td id="registration-data-college" style="font-size:1.5em"></td>
			        </tr>
			    </tbody>
			</table>

			<h3>Events Registered</h3>
			
			<table class="table">
				<colgroup>
					<col style="width: 25%">
					<col style="width: 10%">
					<col style="width: 50%">
					<col style="width: 15%">
				</colgroup>
			    <tbody id="registration-table-events"></tbody>
			</table>

		</div>
		
	</div>
	<footer class="col-md-12">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-12">
                    <span class="copyright">Copyright © Your Website 2014</span>
                </div>
            </div>
        </div>
    </footer>
</div>